.logo {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-bottom: 32px;
  position: sticky;
  top: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  z-index: 1200;
}

.logoLink {
  font: inherit;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  color: inherit;
}

.logoBlock {
  display: flex;
  flex-direction: row;
  gap: 14px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  img {
    height: 40px;
    width: 40px;
  }

  h4 {
    margin: 0px;
    font-size: 2.6rem;
    font-family: Nunito, sans-serif;
    line-height: 1.235;
    letter-spacing: 1px;
    font-weight: 600;
  }
}
