@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #fe2c55;
  --default-layout-header-height: 60px;
  --text-color: #161823;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
  background-color: #fafbfc;
}

html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}
